<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bigshot+One" />
	<title>Instamood</title>
</head>
<body ng-app="Instamood">
	<div class="container" ng-controller="MainCtrl">
		<div class="row">
			<div class="login-btn btn" ng-click="getInstaPics()" ng-hide="hasToken">
				  <a href="https://api.instagram.com/oauth/authorize/?client_id=f8333fd5d6d34d35883d1ec89d3350be&redirect_uri=http://localhost:8000&response_type=token" class="btn btn-info btn-lg btn-block">
          <i class="fa fa-instagram"></i>
            Log in with Instagram
          </a>
			</div>
		</div>
			<div ng-show="hasToken">
				<div class="row">
					<div class="userStats">
						<h2>User Stats</h2>
						<p>Ego Score: {{egoCount}}%</p>
						<p>Popularity: {{averageLikes}} likes</p>
						<p>Active Days: {{day}}</p>
						<p>Brevity: {{caption}} characters</p>
						<p>Visibility: {{hashtags}}</p>
						<p>Your overall sentiments score is: {{grandTotal/picArray.length}}</p>
						<p>Top words: {{grandTotal/picArray.length}}</p>
					</div>
				</div>
				<div class="row">
					<div class="heading">
						<h2>Your instagram pictures</h2>
					</div>
				</div>
				<div class="row">
					<ul>
						<li ng-repeat="pic in picArray track by $index">
						<div class="row">
							<div class="cover">
            					<img ng-src="{{pic.images.standard_resolution.url}}"/>
            				</div>
            				<h4>{{pic.caption.text}}: {{captionScores[$index]}}</h4>
            			</div>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<script src="./angular.js"></script>
  	<script src="./script.js"></script>
</body>
</html>
