<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="./script.js"></script>
	<title>Instamood</title>
</head>
<body ng-app="Instamood">
	<div class="container" ng-controller="MainCtrl">
		<div class="row">
			<div class="login-btn btn" ng-hide="hasToken" ng-click="getInstaPics()">
				  <a href="https://api.instagram.com/oauth/authorize/?client_id=8ae6b7dda3b340b588c0734820a6ed11&redirect_uri=http://localhost:8001&response_type=token" class="btn btn-info btn-lg btn-block">
          <i class="fa fa-instagram"></i>
            Log in with Instagram
          </a>
			</div>
			<div ng-show="hasToken">
        <!-- challenge: make it so that you don't have to click this link for
             the pictures the load -->
				<a ng-click="getInstaPics()">Load pictures!</a>
				<ul>
          <!-- this loops through all your pictures -->
					<li ng-repeat="pic in picArray track by $index">
            {{ pic }} <!-- what should be here instead? -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</body>
</html>